[Unit]
Description=Framework Desktop Fan LED Control
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/framework-desktop-fanledcontrol
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
